@tailwind base;
@tailwind components;
@tailwind utilities;

.modalScrollBar::-webkit-scrollbar {
  width: 5px;
}

.modalScrollBar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.modalScrollBar::-webkit-scrollbar-thumb {
  background: #425563;
  border-radius: 10px;
}
